<template>
  <div class="home">
    <div class="content">
      <h1 class="title">Recepten</h1>
      <h2 class="subtitle">Overzicht</h2>
      <div class="grid__row">
        <div v-for="recipe in recipes" v-if="recipe.visible == 1" class="grid__column-bp4-4">
          <div class="recipe_card">
            <div class="card-content">
              <div class="content">
                <h3>{{recipe.name}}</h3>
                <h4>{{recipe.category.title}}</h4>
                <router-link :to="'recepten/' + recipe.id">Bekijk recept</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      recipes: []
    }
  },
  mounted() {
    axios.get('http://localhost:8765/recipes.json').then(response => this.recipes = response.data.recipes);
    //axios.get('http://localhost:8765/recipes.json').then(response => console.log(response.data.recipes));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .recipe_card {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>
