<template>
  <div class="recipe">
    <div class="content">
      <router-link :to="'/'" class="breadcrumbs">< Terug naar recepten</router-link>

      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="recipe_header">
              <h3>{{recipe.name}}</h3> <span>{{recipe.category.title}}</span>
            </div>
            <h4></h4>
            <p>Bereidingstijd: {{recipe.preptime}} uur</p>
            <h4>Ingrediënten</h4>
            <ul>
              <li v-for="ingredient in ingredients">
                {{ingredient}}
              </li>
            </ul>
            <h4>Bereiding</h4>
            <ol>
              <li v-for="step in steps">
                {{step}}
              </li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'Recipe',
  data() {
    return {
      recipe: [],
      ingredients: [],
      steps: []
    }
  },
  mounted() {
    var self = this;
    console.log("Recipe Component Mounted");
    //axios.get('http://localhost:8765/recipes.json').then(response => this.recipes = response.data.recipes);
    axios.get('http://localhost:8765/recipes/' + this.$route.params.id + '.json').then(function(response) {
      self.recipe = response.data.recipe;
      self.ingredients = response.data.recipe.ingredients.split(",");
      self.steps = response.data.recipe.steps.split(",");
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.recipe_header h3 {
  display: inline;
}

.breadcrumbs {
  padding: 1rem 0;
  display: block;
}
</style>
