<template>
  <div id="app">
    <div class="navbar is-primary">
      <div class="grid__container">
        <div class="navbar-brand">
          <div class="content">
          <h1>Code d'Or Test</h1>
          </div>
          </div>
      </div>
    </div>
    <div class="grid__container">
      <router-view/>
    </div>
    <footer>
      <div class="grid__container">
        Ilona Zancaner
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      recipes: []
    }
  },

  mounted() {
    axios.get('http://localhost:8765/recipes.json').then(response => this.recipes = response.data.recipes);
  }
}
</script>

<style>
#app {
  font-size: 16px;
  line-height: 150%;
}

.navbar h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  padding-top: 10px;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  background: #eee;
}
</style>
